# ---------------------------------
# 環境変数
.env

# ---------------------------------
# Node.jsの依存関係フォルダ
node_modules/


# ビルド成果物・コンパイル結果
# ---------------------------------
# Goの実行可能ファイル（Windows, Mac/Linux）
*.exe
*.exe~
*.test
/realestate-scraper

# OS・エディタ固有のファイル
# ---------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/

# ログファイル
*.log
logs/